<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Page titles">

    <listeners>
        <listener class-name="utils.listeners.TestAllureListener"/>
    </listeners>

    <test name="Test" >
        <packages>
            <package name="tests.pagetitles"/>
            <package name="tests.login"/>
            <package name="tests.product"/>
            <package name="tests.search"/>
            <package name="tests.editaccount"/>
        </packages>
<!--        <classes>-->
<!--            <class name="tests.pagetitles.HomePageTests"/>-->
<!--            <class name="tests.pagetitles.ContactUsPageTests"/>-->
<!--        </classes>-->
    </test>
</suite>
