<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Page titles">

    <listeners>
        <listener class-name="listeners.TestAllureListener"/>
    </listeners>

    <test name="Test" >
        <packages>
            <package name="tests.pageTitlesTests"/>
            <package name="tests.logInTests"/>
        </packages>
<!--        <classes>-->
<!--            <class name="tests.pageTitlesTests.HomePageTests"/>-->
<!--            <class name="tests.pageTitlesTests.ContactUsPageTests"/>-->
<!--        </classes>-->
    </test>
</suite>
